.modal {
    max-height: 800px;
    overflow: auto;
}

.error {
    font-size: 0.8rem;
    color: red;
}

.interest-container {
    background-color: #f0f0f0;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
}