<aside class="collapse show collapse-horizontal vh-100 col-sm-2 p-3 border-end bg-body-tertiary">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img routerLink="/home" src="../../../assets/logo-navbar-blue.png" height="30" alt="">
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a class="nav-link link-body-emphasis">
                <p class="bi bi-speedometer2 nav-item" style="position:fixed;" routerLink="/organizer/dashboard">
                    Dashboard</p>
                <br>
            </a>
        </li>
        <li>
            <a class="nav-link link-body-emphasis">
                <p class="bi bi-calendar-event nav-item" style="position:fixed;" routerLink="/organizer/events"> Events
                </p><br>
            </a>
        </li>
        <li>
            <a class="nav-link link-body-emphasis">
                <p class="bi bi-table nav-item" style="position:fixed;" routerLink="/orders"> Orders</p><br>
            </a>
        </li>
        <li>
            <a class="nav-link link-body-emphasis">
                <p class="bi bi-person-circle nav-item" style="position:fixed;" routerLink="/customers"> Customers</p>
                <br>
            </a>
        </li>
    </ul>
</aside>