/* Enhance the input fields and buttons */
.input-field {
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-field:focus {
    border-color: #2575fc;
    box-shadow: 0 0 8px rgba(50, 150, 255, 0.6);
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .wrapper {
        padding: 1rem;
    }
}

.interest-container {
    background-color: #f0f0f0;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 0.8em;
}