<!-- Navbar -->
<nav style="background-color: #0E1550;" class="navbar navbar-expand-lg">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list text-white"></i>
        </button>

        <!-- Navbar brand -->
        <a class="navbar-brand" href="#" style="margin-left: 10px;">
            <img src="../../../assets/logo-navbar.png" height="30" alt="Logo" loading="lazy" />
        </a>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="btn btn-link nav-link text-white fst-normal" (click)="openModal()">
                        Select your city <i style="font-size: 10px;" class="bi bi-caret-down-fill"></i>
                    </button>
                </li>
                <li *ngIf="authService.isOrganizer()" class="nav-item">
                    <button class="btn btn-link nav-link text-white fst-normal" routerLink="/organizer/dashboard">
                        Organizer Panel
                    </button>
                </li>
                <li *ngIf="authService.isAdmin()" class="nav-item">
                    <button class="btn btn-link nav-link text-white fst-normal">
                        Admin Panel
                    </button>
                </li>
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center">
            <div *ngIf="authService.isLoggedIn(); else notLoggedInTemplate" ngbDropdown class="d-inline-block">
                <a ngbDropdownToggle class="dropdown-toggle d-flex align-items-center hidden-arrow text-white"
                    id="navbarDropdownMenuAvatar" role="button" aria-expanded="false">
                    <i style="font-size: 25px;" class="bi bi-person-circle text-white"> </i>
                </a>
                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                    <button ngbDropdownItem class="dropdown-item" href="#">My profile</button>
                    <button ngbDropdownItem class="dropdown-item" (click)="logout()">Logout</button>
                </div>
            </div>
            <ng-template #notLoggedInTemplate>
                <a routerLink="/login" class=" text-white" role="button" aria-expanded="false">
                    <i style="font-size: 25px;" class="bi bi-person-circle text-white"> </i>
                </a>
            </ng-template>
        </div>
        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->