<app-nav-bar></app-nav-bar>
<div class="flex flex-wrap w-full bg-teal-400 min-h-[500px] text-gray-800">
    <div class="w-full md:w-1/2 flex items-center justify-center mt-3 md:mt-0 p-5 text-center">
        <img class="rounded-xl w-3/4" src="../../../assets/image-banner.jpeg" alt="Chica de Fever" fetchpriority="high"
            crossorigin="anonymous">
    </div>
    <div class="w-full md:w-1/2 my-2 md:my-auto px-5 mx-auto">
        <h1 class="text-4xl font-bold text-blue-900">
            Discover the best experiences for students in
            <span role="button" (click)="openModal()" class="text-white cursor-pointer">
                your city
                <i class="bi bi-chevron-down" style="font-size: 25px;"></i>
            </span>
        </h1>
        <h2 class="font-light text-4xl text-blue-900">Parties, get-togethers, sports, championships, competitions...
        </h2>
    </div>
</div>
<div class="container mx-auto my-4">
    <h2 class="m-3 text-2xl">Top Cities</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="col" *ngFor="let city of cities">
            <div class="relative rounded-3xl overflow-hidden">
                <img [src]="'http://localhost:8080/city/download-photo/'+city.id" class="w-full h-full object-cover"
                    [alt]="city.name">
                <div class="absolute top-0 left-0 w-full h-full bg-black opacity-50 z-10"></div>
                <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center text-center z-20">
                    <h3 class="text-white text-xl">{{city.name}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>